.bg {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--table-outer-color) 60%,
    var(--primary-color) 40%
  );
  position: relative;
}

.loginContainer {
  box-shadow: 1rem 1rem 2rem 2rem rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 5%;
  left: 42%;
  right: 20%;
  /* transform: translate(-50%, -50%); */
  border-radius: 1rem;
  padding: 4rem;
  background: white;
  width: fit-content;
  font-size: 1.5rem;
  &_head {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
  &_form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &_fields {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      input {
        padding: 1rem;
        width: 30rem;
        transition: all 0.3s ease-in-out;
      }
    }

    &_forgotPassword {
      display: flex;
      justify-content: space-between;
      a {
        color: #696cf5;
      }
    }
    &_eyeSlash {
      display: flex;
      position: relative;
      button {
        position: absolute;
        top: 0;
        right: 2%;
        height: 100%;
        color: black;
        background-color:none !important;
        svg {
          height: 2rem;
          width: 2rem;
        }
      }
    }
    &_rememberMe {
      display: flex;
      gap: 1rem;
    }
    > button {
      background: var(--primary-color);
      padding: 1rem;
      border-radius: 0.4rem;
    }
  }
  &_bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    &_creatAnAccount {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      a {
        color: #696cf5;
      }
    }
    &_divider {
      display: flex;
      align-items: center;
      text-align: center;
      /* margin-top: 1rem; */
    }

    &_divider::before,
    &_divider::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid #333;
    }

    &_divider::before {
      margin-right: 0.5em;
    }

    &_divider::after {
      margin-left: 0.5em;
    }

    &_divider-text {
      white-space: nowrap;
      color: #333;
      font-weight: bold;
    }

    &_socials {
      display: flex;
      justify-content: center;
      gap: 2rem;
      svg {
        border-radius: 0.5rem;
        background: var(--box-shadow);
        width: 3rem;
        height: 3rem;
        padding: 0.5rem;
      }
    }
  }
}

.loginContainer_form_fields input:focus{
    outline: none;
    border: 1px solid var(--primary-color);
}


.forgotPasswordPopup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;

  &_body {
    height: min-content;
    width: 30rem;
    padding: 4rem;
    /* aspect-ratio: 1; */
    background: white;
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      /* width: 100%; */
      h1{
        background: #fafcff;
      }
      button{
        background: var(--primary-color);
        padding: 1rem;
      }
    }
  }
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 30px;
  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
  margin-left: 125px;
}
.loader,
.loader:before,
.loader:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,
     #fff 96%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
    #fff 96%,#0000) 0 50%/80% 20% repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {transform:rotate(1turn)}
}



.logoSec img{
  position: absolute;
  top: 40%;
  right: 60%;
  padding: 10px 25px;
  width: 35%;
}


 @media screen and (max-width: 1975px) {

  .logoSec img{
    top: 30%;
  }

  .loginContainer{
    top: 15%;
  }

    
  } 


  

 @media screen and (max-width: 1597px) {
  .loginContainer{
    top:5%;
  }
  } 