.feedback {
  width: 10vw;
  &_heading {
    h1 {
      font-size: 2rem;
    }
  }
  &_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
    > span {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 1rem;
      font-size: 1.3rem;
      gap: 1rem;
      align-items: baseline;
      width: 100%;
      > label,
      > input,
      > select {
        padding: 0.5rem;
      }
      > input,
      > select {
        border: 1px solid #ccc;
      }
    }
  }
  &_btn {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    > button,
    > input {
      color: white;
      background: var(--primary-color);
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
    }
  }
}

.footerlinks{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.footerlinks li{
  list-style: none;
  color: #3A57AB;;
}
.footerlinks li a{
  font-size: 11px;
}