
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  .modalContent h2{
    font-size: 2.8rem;
  }
  
  .modalContent {
    width: 80%;
    max-width: 500px;
    /* height: 20vh; */
    background: white;
    padding: 20px;
    border-radius: 6px;

    position: relative;
  }
  
  .modalContent h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .modalContent p {
    margin: 4px 0px;
    line-height: 12px;
    color: #333;
    display: flex;
    /* align-items: center; */
    /* justify-content: start; */

    /* flex-wrap: wrap; */
    align-content: space-between;
    align-items: baseline;
    font-weight: 500;
  }
  .modalContent p strong{
    margin: 8px;
    font-size: 8.5pt;
    font-weight: 700;
  }
  
  .closeButton, .replyButton {
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .closeButton {
    background: #797777;
    margin-right: 10px;
  }
  
  .replyButton {
    background: #ff6600;
    color: #fff;
  }
  

  .hrSec{
    border: 3px solid #ccc;
  }


  .downloadLink {
    font-size: 12px;
    text-decoration: underline;
    display: inline-flex;
    align-items: center;
}

.iconMargin {
    margin-right: 5px;
}
