#broadcast span {
  font-size: 8pt;
  font-family: 500;
}

#searching p {
  font-size: 8pt;
  font-family: 500;
}

#uploading p {
  font-size: 8pt;
  font-family: 500;
}

#multicast p {
    font-size: 8pt;
    font-family: 500;
  }
  
  
#profile p {
    font-size: 8pt;
    font-family: 500;
  }
  
    
#partcart p {
    font-size: 8pt;
    font-family: 500;
  }
  
  #hotlist p {
    font-size: 8pt;
    font-family: 500;
  }
  
    
  #feedback p {
    font-size: 8pt;
    font-family: 500;
  }
  