.nav-bar ul{
    border: 1px solid black;
    position: absolute;
    top: 23%;
    left: 4%;
    font-family: "Roboto", sans-serif;
    padding: 14px 18px;
    border-radius: 2px;
    width: 18rem;

}


.nav-bar li{
    list-style: none;
    margin: 8px;
    text-align: right;
    white-space: nowrap;
    border-bottom: 1px solid #000;


} 

.nav-bar li:hover{
    background-color: lightgray;
    border: 1px solid #444;
    /* margin-bottom: 5px; */
    padding: 2px 8px;

} 

.nav-bar li a{
    text-decoration: none;
    color: black;
    /* border-top: 1px solid #fff; */
    color: #000;
    line-height: 20px;
    margin: 0 auto;
    /* font-size: 9pt; */
    font-weight: 600;

} 




