  .container {
    width: 100%;
}

.main-sec{
    border: none;
}
.sections {
    display: flex; /* Use flexbox to lay out the sections */
    justify-content: space-between; /* Space between sections */
    align-items: flex-start; /* Align items to the top */
    border: 10px solid lightgray; /* Border for the sections */
    /* background-color: #f9f9f9;  */
    /* padding: 20px;  */
    width: 100vw;
}

#box1, #box2, #box3, #box4, #box5, #box6, #box7 {
    flex: 1; /* Equal space for each box */
    /* margin: 0 10px;  */
    border-right: 15px solid lightgray; /* Divider line */
    height: 70vh;
    padding: 8px 15px;
}

#box1:last-child, #box2:last-child, #box3:last-child, #box4:last-child, #box5:last-child, #box6:last-child {
    border-right: none; /* Remove border for the last box */
}

.sections ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.sections li {
    color: #989898;
    margin: 2px 0; /* Space between list items */
    display: flex; /* Use flexbox for icon and text */
    align-items: center; /* Center icon and text vertically */
    cursor: pointer;
}

.sections li:hover{
    color: #00008b;
}

.sections li img {
    margin-right: 5px; /* Space between icon and text */
    width: 16px; /* Set icon width */
    height: 16px; /* Set icon height */
}

.footer {
    width: 100vw; /* Full width */
    background-color: #f9f9f9; /* Footer background color */
    border: 1px solid #444; /* Footer border */
    text-align: center; /* Centered text in footer */
    margin-top: -20px;
}

.footer-content {
    color: #444; /* Footer text color */
    font-size: 9pt; /* Footer text size */
    font-weight: 500; /* Footer text weight */
}


.sections ul li{
    font-size: 9pt;
    font-weight: 600;
    white-space: nowrap;
}
.sections ul li img{
    height: 14px;
    width: 10px;
}