.filterSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary-bgColor);
  height: fit-content;
  > div,
  > form > div {
    margin: 1rem auto;
    width: 20rem;
    background-color: white;
  }
  /* @media only screen and (max-width:54.375em) {
    display: none;
  } */
}

.interSection {
  padding: 1rem;
  > :nth-child(1) {
    display: flex;
    border-bottom: 0.1rem solid var(--secondary-bgColor);
    margin-bottom: 1rem;
    > h6 {
      margin-right: auto;
    }
  }
  > :nth-child(2) {
    > div {
      display: flex;
      > * {
        padding: 0 1rem;
      }
    }
  }
}

.searchHistory {
  height: 20rem;
  overflow-y: scroll;
  overflow-x: hidden;
  > div {
    display: flex;
    justify-content: space-between;
  }
}

#applyFilter {
  text-transform: capitalize;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  padding: 0.8rem 4rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
#applyFilter:active{
  transform: scale(0.95);
}
#customizeDisplayBtn {
  > button {
    font-size: 1.5rem;
    margin: 3rem 0 1rem 0;
  }
}

#advancedFilters {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-bgColor);
  border-bottom: 0.2rem solid var(--table-bg-color);
  > :first-child {
    > button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
  > div {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    > :first-child {
      margin-right: 0.2rem;
    }
  }
}


.filterSection label{
  font-size: 9pt;
  font-weight: 500;
  color: #444;
  margin-top: 7px;
}

.querySec{
  font-size: 9pt;
  font-weight: 500;
  color: #444;
}
.interSection{
  font-size: 9pt;
  font-weight: 500;
  color: #444;
}

.interSection button{
  color: white;
  background-color: #444;
  padding: 3px;
  font-size: 1.3333333333em;
  line-height: .75em;
}

