@media print {
  .noPrint {
    display: none;
  }
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

.headerFixed {
  top: 0;
  position: sticky;
  background: white;
  z-index: 5;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-top: 0.5rem solid var(--primary-color);
  min-height: 8rem;

  @media only screen and (max-width: 54.375em) {
    justify-content: space-between;
  }

  #logo {
    >img {
      height: 5rem;
      margin-right: 5rem;
    }
  }

  .search_container {
    display: flex;

    form {
      display: flex;
    }

    .search_btn {
      background-color: var(--primary-color);
      text-transform: capitalize;
      outline: none;
      border: none;
      padding: 0.7rem;
      margin-left: 1rem;
      color: var(--font-color);
    }

    #search {
      width: 25rem;
      padding: 0.5rem;
      border: 2px solid var(--box-shadow);
      outline: none;

      @media only screen and (max-width: 23.4375em) {
        width: 100%;
      }
    }

    #search:focus {
      border: 2px solid black;
    }
  }
}

.tools_toggle path:hover {
  color: white !important;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color) ;

  >ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    >li {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      padding: 5px 16px;
      color: var(--font-color);
    }

    >li:hover {
      /* height: 100%; */
      background:#68c;;

    }
  }

  .onHoverMenuIconUp {
    display: none;
  }
}
/* 
.navbar_search_options    {
  color: black !important;
  background-color: var(--primary-color)  ;

} */



.navbar_search_options select {
  background-color: white;  /* Set the background color */
  color: black;  /* Set the text color */
  padding: 0.5rem;  /* Optional: to make the dropdown look better */
  border-radius: 4px;  /* Optional: rounded corners */
  border: none;  /* Remove default border */
}


.nav {
  position: relative;
  height: 31px !important;
}

.nav_tools {
  >li {
    height: 100%;
    padding: 0.1rem;

  }

  @media only screen and (max-width: 54.375em) {
    margin-left: auto;
  }
}

.venIcon {
  font-weight: 700;
}

.dropdownMenu {
  display: none;


  ul {
    width: max-content;
  background: #e8e8e8;
  /* padding: 2px 10px; */
  min-width: 150px;

    li {
      padding: 1rem;
      text-align: left;
    }
  }
}


nav>ul>li:hover .dropdownMenu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color:  #bf501a;
  color: black;
  box-shadow: 1px 1px 1rem 1px var(--box-shadow);
  z-index: 1;

  ul {
    li:hover {
      color: var(--font-color);
      background-color:  #bf501a;
    }
  }
}

nav>ul>li:hover {
  .onHoverMenuIconUp {
    display: block;
  }

  .onHoverMenuIconDown {
    display: none;
  }
}

.nav_links {

  /* height: 100%; */
  /* position: relative; */
  > :first-child {
    display: none;
  }

  @media only screen and (max-width: 54.375em) {
    > :first-child {
      display: flex;
    }

    > :not(:first-child) {
      display: none;
    }
  }
}

.nav_Mobile_bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--popup-bg-color);
  z-index: 5;
}

#closeMobileMenu {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  margin-left: auto;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.nav_Mobile {
  height: 100vh;
  width: 40vw;
  padding: 4rem 0rem;
  position: relative;
  /* top: 0; */
  /* left: 0; */
  /* z-index: 10; */
  overflow-y: scroll;
  background: white;

  &_links {
    display: flex;
    flex-direction: column;
    /* @media only screen and (max-width: 54.375em) {
    } */

    &_ul {

      /* ul > a  {
        padding: 1rem 4rem;
      } */
      ul>a>li {
        color: black;
        /* color: var(--primary-color); */
        padding: 1rem 4rem;
      }

      ul>a>li:hover {
        background: var(--primary-color);
        color: inherit;
        /* background: pink; */
      }
    }

    >li {
      >div:first-of-type {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        /* background: olivedrab; */
        background: var(--primary-color);
        cursor: pointer;
      }
    }

    >li:last-of-type {
      display: flex;
      align-items: center;
      /* justify-content: flex-end; */
      gap: 1rem;
      padding: 1rem 2rem;
      background: orangered;
    }
  }
}

.hoverCompanyDetail {
  display: flex;
  align-items: center;
  max-height: 100%;
  background: #f0f0f0;
  gap: 3rem;
  margin-left: 5rem;
  padding: 0.7rem;

  &_details {
    display: flex;
    flex-direction: column;

    >span {
      display: flex;
      gap: 0.5rem;
    }
  }

  &_img {
    height: 7rem;
    border: 1px solid rgb(158, 158, 158);

    >img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: contain;
    }
  }
}