.safeTradingContainer li{
    /* font-size: 8pt; */
    font-weight: 500;
    color: #444;

}

.safeTradingContainer li a{
    font-size: 8pt;
    font-weight: 500;
    color: #444;

}

.accountManagaerContainer p{
    /* font-size: 8pt; */
    font-weight: 500;
    color: #444;
}