.layout {
  display: flex;
  margin: 3rem;
  padding: 1rem;
}

.layoutTables {
  display: flex;
  flex-direction: column;
}

.productTableBtn {
  font-size: 1.5rem;
  display: flex;
  gap: 2rem;
  padding: 0.6rem 0;
  > button {
    font-size: 1em;
    color: #444;
  }
}

.productTableDetail {
  padding: 1rem;
  background: var(--table-bg-color);

  /* width: 115%; */
  > :first-child {
    font-size: 1.5rem;
    color: white;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    /* @media only screen and (max-width:52.8125em) {
      display: flex;
      >thead>tr{
        display: flex;
      }
    }  */

    th {
      text-transform: capitalize;
      background-color: var(--table-th-color);
      color: white;
      text-align: left;
    }
    td {
      background-color: white;
      color: black;
      > svg {
        margin: 0 auto;
      }
    }
    th,
    td {
      padding: 0 0.6rem;
      a {
        cursor: pointer;
        color: blue;
      }
    }
    thead,
    tfoot {
      > tr {
        > th:nth-child(2) {
          span {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}

.tableArea {
  margin: 2rem 2rem;
  width: 105%;
}
.productTable {
  background-color: var(--table-outer-color);
  padding: 0 1rem;
  margin-bottom: 10rem;
}

.tablePagination {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.searchResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchProductAddToHotList {
  &_main {
    background: #e8e8e8;
    padding: 2rem;
    width: fit-content;
    margin: 10px;
    &_bg {
      background: #bfbfbf;
      color: white;
      > div {
        background: white;
        color: black;
        padding: 1rem;
        > span {
          display: grid;
          grid-template-columns: 1rem 1fr;
        }
      }
      > span {
        padding-left: 0.5rem;
        button {
          padding: 0.5rem;
          background: var(--primary-color);
        }
      }
    }
  }
}




 .productTableDetail table td {
  padding: 4px 9px ;
  margin-left: 10px;
  text-align: left;
  font-size: 8pt;
  font-weight: 700;
  color: #444;


}


.productTableDetail table th{
  /* border: 1px solid #ddd; */
  padding: 0px 9px;
  text-align: left;
  font-size: 8pt;
  font-weight: 700;
}



.productTableDetail table th:hover{
  color: black;
  cursor: pointer;

}

.productTableBtn button:hover{
  color: #428bca;
}

.productTableBtn a:hover{
  color: #428bca !important ;
}


/* Assuming the CSS file is named SearchProducts.module.css */
.productTableDetail table tr:nth-child(odd) td {
  background-color: #f2f2f2; /* Light grey for odd rows */
}

.productTableDetail table tr:nth-child(even) td {
  background-color: #ffffff; /* White for even rows */
}

.searchProductAddToHotList_main_bg {
  padding: 5px;
  border-radius: 10px;
}
.searchProductAddToHotList_main_bg span , label{
  font-size: 9pt;
  font-weight: 500;
  padding: 3px;
}
