.container {
  width: 96vw;
  margin: 5rem 3rem;
  background-color: #e8e8e8;
  border: 1px solid #ddd;
  padding: 1rem;
  font-family: Arial, sans-serif;
  h3 {
    font-size: 2rem;
  }
}

.navTabs {
  border-bottom: 1px solid #ddd;
  > ul {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
    /* justify-content: space-around; */
    /* border-bottom: 2px solid #ddd; */
    /* padding-bottom: 10px; */
    li a {
      font-size: 2rem;
    }
    li:hover {
      color: #007bff;
    }
  }
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.dataTable {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.dataTable th,
.dataTable td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.dataTable th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.dataTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dataTable tr.highlighted {
  background-color: #ffffcc;
}

.dataTable tr:hover {
  background-color: #f1f1f1;
}

.dataTable td {
  white-space: nowrap;
}

.searchSec {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 10px;
  align-items: center;
}

.searchSec h2,
label {
  color: white;
  font-size: 9pt;
}

.searchBar {
  background-color: #bfbfbf;
}

.myhInfo {
  margin-left: 10%;
}

.myhInfo ul {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.myhInfo ul li {
  font-size: 8pt;
  font-weight: 500;
}

.buttonSec {
  display: flex;
  gap: 10px;
  align-items: center;
}

.buttonSec button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 8px 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.buttonSec button:hover {
  background-color: #196dc7;
}
