.section {
  margin-bottom: 30px;

  &_qualities {
    span {
      display: flex;
      gap: 1rem;
      font-weight: 600;
    }
  }

  h3 {
    margin-bottom: 10px;
    font-weight: 600;
  }
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.display {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 37rem;
  input[type="text"],
  select {
    flex: 1;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
  }
}

.display label{
      width: 13rem;
}
.orangeButton {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.orangeButton:hover {
  background-color: #196dc7;
}


.footerlinks{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.footerlinks li{
  list-style: none;
  color: #3A57AB;;
}
.footerlinks li a{
  font-size: 11px;
}

.section_qualities p{
  font-size: 9pt;
  font-weight: 600;
}