.container {
  margin: 5rem 2rem;
  width: 90%;
  background: #e8e8e8;
  /* overflow-x: scroll; */
  padding: 1rem;
}

.topSearches {
  background: #bfbfbf;
  > h3 {
    padding: 5px;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
  }
  > table {
    width: 100%;
    border-collapse: collapse;
    /* margin-bottom: 20px; */
    thead,
    tfoot {
      th {
        background-color: #44565b;
        color: white;
      }
    }
    thead,
    tfoot,
    tbody {
      th,
      td {
        border: 1px solid #ddd;
        padding: 2px;
        text-align: left;
        text-transform: capitalize;
        font-size: 8pt;
      }
      td {
        background: white;
      }
    }
  }
}
