.layout {
  display: flex;
  justify-content: center;
  @media print {
    display: none;
  }
}

.rfqTable {
  width: 55vw;

}

.rfqTableBtn_top {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

.rfqTableBtn_bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--table-bg-color);
  padding: 0 1rem;
  > :first-child {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0;
    button {
      color: white;
      background: var(--primary-color);
      padding: 0.5rem 1rem;
    }
  }
}

.rfqTableDetail {
  /* padding: 2rem 1rem; */
  background: var(--table-bg-color);

  &_search {
    background: white;
    padding: 0.5rem;
    &_btn {
      color: white;
      background: var(--primary-color);
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
    }
    &_fields {
      &_left {
        > span {
          > div {
            display: flex;
            gap: 2rem;
            > span {
              display: flex;
              gap: 1rem;
            }
          }
        }
      }
      &_right,
      &_left {
        > span {
          /* display: flex; */
          display: grid;
          grid-template-columns: 10rem 1fr;
          align-items: center;
          padding: 0.5rem;
        }
      }
    }
  }


  table {
    width: 100%;
    th {
      text-transform: capitalize;
      background-color: var(--table-th-color);
      color: white;
      text-align: left;
      > :first-child {
        display: flex;
        align-items: center;
      }
    }
    th,
    td {
      padding: 0.3 0.8rem;
      cursor: pointer;
    }
    tbody {
      > tr {
        td {
          padding: 1.2px 5px;
          svg {
            height: 1.5rem;
            width: 1.5rem;
          }
        }
      }
      > :nth-child(odd) {
        background: var(--secondary-bgColor);
      }
      > :nth-child(even) {
        background: white;
      }
    }
  }
}


.rfqTableDetail table th:hover{
  color: black;
}

.rfqTableDetailBottom  tr th{
  font-size: 8pt !important;
}

.tableArea {
  margin: 5rem 2rem;
}

.tableData {
  > :nth-child(1) {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  /* >:nth-child(2){
    text-align: center;
  } */
}

.rfqTable {
  background-color: var(--table-outer-color);
  padding: 0 1rem;
}

.rfqTableSearchToggle {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.5rem;
  color: white;
  margin-left: 0.5rem;
}

.pagination {
  display: flex;
  gap: 0.5rem;
  font-size: 1.5rem;
  button {
    background: transparent;
    color: white;
    border-bottom: 1px solid white;
  }
}









.rfqTableBtn_top a{
  color: #444;
  font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
} 


.rfqTableBtn_top a:hover{
  color: #428bca;
}


.rfqTableDetail table tbody td{
  font-size: 8pt !important;
  color: #444 !important;
  font-weight: 500 !important;
}

.rfqTableDetail table thead th{
  font-size: 8pt !important;
  font-weight: 600 !important;

}

.rfqTableDetail table tbody td a{
  font-size: 8pt !important;
  color: #444 !important;

}








.companyDropdown {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  max-width: 200px;
}

.companyItem {
  padding: 5px;
  cursor: pointer;
}

.companyItem:hover {
  background-color: #f1f1f1;
}

td:hover .companyDropdown {
  display: block;
}




.rfqTableBtn_bottom button{
  padding: 10px 12px;
  border-radius: 5px;
  font-size: 9pt;
}

.rfqTableBtn_bottom button:active{

  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}


.rfqTableDetail_search input{
  padding: 7px;
}

.rfqTableDetail_search_btn {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  font-size: 9pt !important;
  cursor: pointer;

}

.rfqTableSearchToggle svg{
  font-size: 13px;
  margin: 3px;
  color: #fff;
}



rfqTableBtn_bottom button{
  transition: all 0.5s ease-in-out;
}









/* Pagination Container */
/* .pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
} */

/* Default Button Style */
/* .pagination button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: #444;
}

.pagination button:hover {
  background-color: #f0f0f0;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.pagination button.disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
}

 */








.pagination button{
  color: white;
  background-color: var(--primary-color);
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  font-size: 7pt;
  padding: 2px 6px !important;

 }

.paginationSec{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination{
  text-align: end;
}




.pageButton {
  /* Add default styling for all page buttons here */
  margin: 0 4px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

/* .pageButton:hover {
  background-color: #e0e0e0;
} */

.pageButton .active {
  background-color: #428bca;
  color: white;
  border-color: #428bca;
}




@media screen and (max-width: 1110px) {
  .rfqTableBtn_bottom{
    flex-wrap: wrap;
  }
  
}