.dashboard {
  font-family: Arial, sans-serif;
}

.mainSec {
  width: 95vw;

}

.header {
  padding: 10px;
  background: #f4f4f4;
  display: flex;
  justify-content: start;
  gap: 10px;
  /* width: 100%; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white;
  padding: 10px;
  /* font-size: 14px; */
  border: none;
  cursor: pointer;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: -10px;
}

.table tbody tr{
  /* white-space: nowrap; */

}


.table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.table th,
.table td {
  border: 1px solid #bfbfbf;
  padding: 1px 2px;
  text-align: left;
  /* font-size: 8pt !important; */
  font-weight: 600;
  color: #444;
}



.table th {
  /* white-space: nowrap; */

  /* background-color: #f2f2f2; */
  background-color: #4a575a;
  color: white;
}

.table th:hover {
  color: black;
  cursor: pointer;
}

.tableWrapper {
  background-color: white;
  border-radius: 5px;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px; */
  background-color: lightgray;
  margin-bottom: 5px;
  /* flex-wrap: wrap; */
  width: 100%;
}

.tableHeader button,
.tableHeader select {
  padding: 5px;
  margin: 3px;
}

.footerlinks {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footerlinks li {
  list-style: none;
  color: #3a57ab;
}

.footerlinks li a {
  font-size: 11px;
}

.replyBtn {
  color: white;
  background-color: var(--primary-color);
  margin: 5px;
  padding: 10px 15px;
}

.replyBtn:active {
  transform: scale(0.95); /* Slight shrink effect when clicked */
}

.replyBtnSec {
  background-color: #ddd;
}

.searchBroadcastSec {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.searchBroadcastSec button {
  color: white;
  background-color: var(--primary-color);
  margin: 5px;
  padding: 4px 4px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  font-size: 9pt;
}

.searchBroadcastSec button:active {
  transform: scale(0.98); /* Slight shrink effect when clicked */
}

.searchBroadcastSec input {
  padding: 5px;
  border: 1px solid black;
}

.type-wtb {
  color: blue !important;
  text-transform: uppercase;
}

.type-wts {
  color: red !important;
  text-transform: uppercase;
}

.type-rfq {
  color: green !important;
  text-transform: uppercase;
}

.replyform h2 {
  font-size: 2.2rem;
  font-weight: bold;
}

.replyform form {
  display: flex;
  flex-direction: column;
}

.replyform label {
  margin-bottom: 10px;
}

textarea {
  height: 100px;
}

.senderdetails,
.broadcastdetails {
  background-color: #f0f0f0;
  padding: 10px;
  margin-top: 20px;
}

.replySec {
  border: 1px solid #ccc;
  padding: 10px 15px;
}

.formGroup {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  /* background-color: #f9f9f9; */
}

.formGroup label {
  /* display: block; */
  margin-bottom: 10px;
  font-weight: bold;
}

.formGroup .input {
  width: 100%;
  padding: 5px;
  /* margin-top: 10px; */
  border: none;
  /* No border initially */
  border-radius: 4px;
  outline: none;
  transition: border 0.3s ease;
  /* Smooth transition */
  /* font-size: 15px; */
  font-weight: 400;
}

.formGroup .input:focus {
  /* border: 1px solid #ccc; */
  /* Border color on focus */
}

.textarea {
  width: 100%;
  height: 350px;
  padding: 8px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
}

.checkboxContainer {
  margin-top: 15px;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  background-color: #bfbfbf;
}

.sendButton,
.resetButton {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sendButton,
.resetButton {
  background-color: #007bff;
  color: white;
}

.replyform {
  padding: 14px 40px;
}

.profileInfo_links a.active {
  color: #428bca;
  font-weight: bold;
}

.fileIcon {
  transition: all 0.2s ease-in-out;
}

.fileIcon:hover {
  transform: scale(1.2);
}

.pagination button {
  color: white;
  background-color: var(--primary-color);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

.paginationSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination {
  text-align: end;
}

/* Custom style for Quill editor container */
.quill .ql-editor {
  white-space: pre-wrap; /* Preserves formatting, line breaks, and spaces */
}

.pageButton {
  /* Add default styling for all page buttons here */
  padding: 8px 12px;
  margin: 0 4px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

/* .pageButton:hover {
  background-color: #e0e0e0;
} */

.pageButton.active {
  /* Style for the active button */
  background-color: #6eb3ef;
  color: white;
  font-weight: bold;
  border-color: #428bca;
}

.tooltipWrapper {
  position: relative;
  display: inline-block; /* Ensures the tooltip is positioned relative to this element */
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the icon */
  left: 50%;
  margin-left: -60px;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* Position the arrow below the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltipWrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
