.RfqTablePopUp {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--popup-bg-color);
  z-index: 5;
  animation: fadeIn 0.3s ease-in-out;

  
}
.RfqTablePopUp_body {
  position: absolute;
  top: 15%;
  left: 15%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1rem;
  /* border-radius: 1rem; */
  height: 70vh;
  width: 70vw;
  overflow-y: scroll;
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem black;
  display: flex;
  flex-direction: column;
  transform: scale(0.8);
  animation: scaleUp 0.3s ease-in-out forwards;


  &_closeBtn {
    /* padding: 1rem; */
    /* background: var(--primary-color); */
    display: flex;
    button {
      margin-left: auto;
      font-size: 1.5rem;
    }
  }
  &_mail {
    display: flex;
    background: #0080ff;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 1.1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    p {
      font-weight: bold;
      font-size: 8pt !important;
      border-bottom: 1px solid black;
    }
  }
  &_content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1rem;
    padding: 2rem 1rem;
    /* overflow-y: scroll; */
    table {
      width: 100%;
      text-align: justify;
      thead {
        tr {
          background: silver;
        }
      }
      thead,
      tbody {
        tr {
          td {
            padding: 0 1rem;
            font-size: 9pt !important;
            font-weight: 500 ;

          }
          th {
            padding: 0 1rem;
            font-size: 9pt !important;
            color: #444;
            font-size: 700;
          }
        }
      }
      tfoot {
        tr {
          td {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
  &_btn {
    button {
      font-size: 8.5pt !important;
      margin: 0 0.5rem;
      margin: 0 0.5rem;
      background: var(--primary-color);
      padding: 0.8rem;
    }
  }
}


  .emailSec span{
    font-size: 8pt !important;
    font-weight: 500;
  }

  .RfqTablePopUp_body_closeBtn button svg{
    font-size: 25px;
    margin-bottom : 5px;
   
  }

  .RfqTablePopUp_body_btn button{
    padding: 8px 9px;
    border-radius: 10px;
    font-size: 9pt !important;

  }
  
  @keyframes fadeIn {
    from {
      background-color: rgba(0, 0, 0, 0);
    }
    to {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  
  @keyframes scaleUp {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }


@keyframes scaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

.RfqTablePopUp_body.closing {
  animation: scaleOut 0.3s ease-in-out forwards;
}
  