.search-results-container {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  border: 1px solid gray;
  /* padding: 15px;  */
  margin: 8px 10px;
  position: relative;
  width: 100%;
}

.contact-info {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border-bottom: 1px solid gray;
  background-color: #efefef;
  border-right: 1px solid gray;
  padding: 10px 15px;
  width: 50rem;
}

.profile-image img {
  border: 1px solid gray;
  height: 100px;
  width: 100px;
}

.profile-details {
  flex: 1;
}
.profile-details p {
  margin-top: 0px;
  line-height: 1.1;
}
.notes-rating {
  display: flex;
  flex-direction: column;
  gap: 10px;
width: 20rem;
}

.notes textarea {
  width: 200px;
  height: 80px;
}

.rating select {
  width: 100px;
}

.mainSec nav ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #444;
}
