h1 {
  font-size: 1.8rem;
  font-weight: 500;
}
.mainLayout {
  display: flex;
  /* flex: 1; */
  margin: 5rem 2.5rem;
  gap: 1rem;
  /* width: 10%; */
}
.cartListLayout {
  min-width: 25%;
  background: var(--table-outer-color);
  padding: 1rem;
  > a {
    font-size: 1.5rem;
  }
  > :nth-child(1) {
    color: blue;
    padding-right: 1rem;
  }
}
.cartList {
  border-top: 2px solid var(--table-th-color);
  background: white;
  > * {
    padding: 1rem;
  }
  &_list {
    display: flex;
    flex-direction: column;
    &_btn {
      margin-left: auto;
      button {
        margin: 0 0.5rem;
        background: var(--primary-color);
        padding: 0.5rem;
        font-size: 1.3rem;
      }
    }
  }
  &_key {
    /* margin-top: 5rem; */

    &_details {
      padding: 1rem 4rem;

      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        > div {
          display: flex;
          align-items: center;
          svg {
            height: 2rem;
          }
        }
      }
      &_pp {
        color: red;
        text-align: center;
        background: #ffa6a6ff;
        padding: 0.2rem;
        font-size: 8pt;
        font-weight: 600;
      }
    }
  }
  &_action {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_select {
      padding: 0.3rem;
      border: 1px solid black;
    }
  }
  &_parts {
    &_scroll {
      height: 30rem;
      overflow: hidden;
      overflow-y: scroll;
      table {
        min-width: 100%;
      }
    }
  }
}
.cartLay {
  flex: 1;
}
.cartLayout {
  background: var(--table-outer-color);
  padding: 0 1rem;
  /* min-width: 100%; */
  flex: 1;
  &_options {
    display: flex;
    background: var(--table-bg-color);
    button {
      font-size: 1.3rem;
      color: white;
      background: var(--primary-color);
      padding: 0.5rem;
      margin-right: 1rem;
    }
  }
  &_filter {
    display: flex;
    align-items: center;
    h1 {
      font-size: 1.5rem;
      color: white;
      margin-right: 1rem;
    }
    select {
      margin-right: 5rem;
      padding: 4px;
    }
  }
  &_info {
    margin-top: 1rem;
    ol {
      margin-left: 5rem;
    }
    &_btn {
      font-size: 1.5rem;
      background: transparent;
      color: var(--primary-color);
    }
  }
}

.cartList_key_details span {
  font-size: 8pt;
}

.cartList_action p,
select {
  font-size: 8pt;
}





.cartList_parts_scroll{
  transition: all 0.5s ease-in-out;
}

.cartList_parts_scroll table td,
th {
  /* font-size: 8pt; */
}

.cartLayout_info p,
ol li {
  /* font-size: 8pt; */
}

.cartLayout_info strong {
  font-size: 9pt;
  font-weight: 450;
}
.cartLayout_info strong span {
  margin: 2px;
}

.cartLayout_options button:hover {
  background-color: #1c6dd0; /* slightly darker for hover */
}

.cartLayout_options button:focus {
  outline: 1px solid #2c83ec;
  outline-offset: 1px;
  box-shadow: 0 0 0 3px rgba(44, 131, 236, 0.4); /* blue glow */
}
.cartList_list_btn{
  margin-top: 10px;
}

.cartList_list_btn button:hover {
  background-color: #1c6dd0; /* slightly darker for hover */
}

.cartList_list_btn button:focus {
  outline: 1px solid #2c83ec;
  outline-offset: 1px;
  box-shadow: 0 0 0 3px rgba(44, 131, 236, 0.4); /* blue glow */
}
